// VARIABLES

$bp-med: 400px;
$base-font: 16px;
$line-height-ratio: 1.5;

// GLOBAL

body {
  font-size: modular-scale(0, $base-font);
  line-height: $line-height-ratio*(modular-scale(0, $base-font));
  font-family: 'Inconsolata', Helvetica, sans-serif;
}

h1 {
  font-size: modular-scale(3, $base-font);
  line-height: $line-height-ratio*(modular-scale(3, $base-font));
}

h2 {
  font-size: modular-scale(2, $base-font);
  line-height: $line-height-ratio*(modular-scale(2, $base-font));
}

h3 {
  font-size: modular-scale(1, $base-font);
  line-height: $line-height-ratio*(modular-scale(1, $base-font));
}

p {
  margin-bottom: 1.5*($line-height-ratio*modular-scale(0, $base-font));
}

// STRUCTURAL

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.box {
  padding: 10px;
}

.navigation {
  flex-grow: 1;
  flex-order: 2;
  @include bp($bp-med) {
    order: 1;
  }
}

.content {
  flex-grow: 10;
  order: 1;
  @include bp($bp-med) {
    flex-order: 2;
  }
}

.nav {
  text-align: right;

  li {
    padding: 10px;
  }
}

// POST

.post-meta {
  color: rgb(93, 93, 93);
  font-style: italic;
}
