<!-- <a class="home-pic-holder">
  <img class="home-pic" src="http://placehold.it/300x300" alt="Home">
</a> -->
<ul class="nav">
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>
